.grid{
    width: 1600px;
    display: block;
    margin: 0 auto;
}
.grid-contact{
    width: 1100px;
    display: block;
    margin: 0 auto;
}
.grid-product{
    width: 1200px;
    display: block;
    margin: 0 auto;
}