*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 98%;
}
.header{
    position: relative;
}
.container{
    margin-top: 20px;
    background-color: #ebebeb;
}
.breadcrumb{
    text-decoration: none;
    padding: 30px 0px;
}
.breadcrumb > a{
    text-decoration: none;
    color: #000;
}
.product-detail-container {
    display: flex;
}
.main-image-wrapper>img{
    width: 576px;
    height: 576px;
    border-radius: 20px;
    object-fit: fill;
}
.thumbnail-list{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.thumbnail-item>img{
    width: 105px;
    height: 105px;
    border-radius: 10px;
}
.product-info-section{
    padding: 0px 60px;
}
.product-info-section .product-title{
    font-size: 2.4rem;
}
.original-price,
.current-price{
    margin: 20px 0px;
}
.current-price{
    font-size: 1.8rem;
    font-weight: 700;
    color: #135ced;
}
.original-price{
    font-size: 1.2rem;
    opacity: 0.6;
    text-decoration: line-through;
    border-bottom: 1px solid #ccc; 
    padding-bottom: 20px;

}
.quantity-group{
    border-bottom: 1px solid #ccc; 

}
.quantity-label {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: #333;
}

.quantity-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding-bottom: 20px;
}
.qty-decrease{
    border-radius: 6px 0px 0px 6px;
}
.qty-increase{
    border-radius: 0px 6px 6px 0px;
}
.qty-decrease,
.qty-increase {
    width: 36px;
    height: 36px;
    background: #fff;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #555;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.qty-decrease:hover,
.qty-increase:hover {
    background: #f5f5f5;
    color: #000;
}

.qty-input {
    width: 50px;
    height: 36px;
    text-align: center;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    outline: none;
}
.action-buttons {
    margin-top: 20px;

}
.btn-buy-now,
.btn-add-to-cart{
    display: flex;
    width: 100%;
    height: 48px;
    line-height: 48px;
    border: 0;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    
}
.btn-add-to-cart{
    color: #ffffff;
    background-color: #135ced;
}
.btn-buy-now{
    margin-top: 10px;
    background-color: #dfe6f7;
    border: 1px solid #135ced;
    color: #135ced;
    font-size: 1.2rem;
    font-weight: 600;
}
.btn-add-to-cart >p{
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 6px;
}
.btn-add-to-cart>i{
    line-height: 48px;
}
.product-description{
    margin-top: 40px;
    border-top: 1px solid #cccccc;
}
.product-description-box{
    display: flex;
    margin-top: 40px;
    font-size: 1.1rem;
    color: #6b7280;
    font-weight: 600;
}
.description-parameter,
.description-describe{
    padding: 0px 10px;

}