*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 98%;
}
.header{
    margin-bottom: 20px;
}
.header-endow{
    overflow: hidden;
    width: 100%;
    height: 28px;
    background-color: #0000ff;
    text-align: center;
    margin-bottom: 20px;
    
}
.header-endow-p{
    animation: animationEndow 22s linear infinite;
    line-height: 28px;
    color: #fff;
}
.header-endow-p a{
    color: #fff;
    font-size: 0.875rem;
}

.header-container{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    border-bottom: 1px solid #e4e6eb;
}
.header-container-search{
    position: relative;
    width: 576px;
    height: 42px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid #000;
}
.search-input{
    position: absolute;
    width: 510px;
    height: 28px;
    padding-left: 10px;
    border: none;
    margin-top: 6px;
}
.search-input:focus{
    outline: none;
    border: none; 
}
.search-input:focus .header-container-search{
    border-radius: 2px solid #0000ff;
}
.search-button{
    position: absolute;
    padding: 13px 16px;
    background-color: #0000ff;
    top: 0;
    right: 0;
    border-radius: 0px 8px 8px 0px ;
    border: 0px;
    color: #fff;
    cursor: pointer;
}

.header-shopping-cart{
    width: 130px;
    height: 44px;
    background-color: #dbebff;
    text-align: center;
    border-radius: 8px;
    margin-left: 30px;
}
.header-shopping-cart i{
    line-height: 44px;
    color: #0000ff;
    font-size: 1rem;
    font-weight: 700;
}
.header-icon-avatar{
    width: 60px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-icon-avatar i{
    font-size: 1.8rem;
    width: 24px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-icon-avatar:hover i{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    width: 40px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
}
.header-shopping-cart a{
    text-decoration: none;
}
.header-list-category{
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-between;
}
.menu-category{
    width: 182px;
    height: 36px;
    background-color: #0000ff;
    border-radius: 6px;
    cursor: pointer;
}
.menu-category{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.menu-category span{
    margin-left: 5px;
    margin-bottom: 5px;
    font-weight: 600;
}

.item-category ul{
    display: flex;
    list-style-type: none;
    line-height: 36px;
}
.item-category ul a{
    text-decoration: none;
    color: #000;
}
.item-category ul li{
    margin-left: 20px;
    font-weight: 600;
}
.body{
    background-color: #f2f3f5;
}
.body-image-background{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.body-image-background img{
    object-fit: contain;
    border-radius: 20px;
}
.body-content-device h1,
.body-content-solution h1{
    margin: 40px 0px;
    font-size: 1.8rem;
    display: block;
    text-align: center;
}
.body-content-solution-list{
    
}
.solution-list-item{
    display: flex;
    justify-content: space-between;
}
.solution-list-item .item-box:hover{
    transform: scale(1.1); 
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, .2);
}
.solution-list-item a{
    text-decoration: none;
    color: #000;
    margin: 0;
    
}
.solution-list-item .item-box{
    width: 282px;
    background-color: #ffffff;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    transform-origin: center;
    height: 209px;
    overflow: hidden;
    
}
.solution-list-item .item-box p{
    font-weight: 600;
    font-size: 0.90rem;
    padding: 12px;
    text-align: center;
}

.solution-list-item .item-box img{
    width: 266px;
    height: 128px;
    object-fit: cover;
    border-radius: 10px;

}
.device-list-item{
    display: flex;
    justify-content: center;
}
.device-list-item ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.device-list-item ul a{
    text-decoration: none;
}
.device-list-item ul li{
    margin: 10px;
    font-size: 1.4rem;
    padding: 12px 16px;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #7979a8;
    box-shadow: 0px 1px 4px;
    color: #0000ff;
    display: flex;
    transform: translateX(0);
    transition: transform 0.4s ease;
}
.device-list-item ul li:hover{
    transform: translateY(-6px);
}

.device-list-item ul span{
    font-size: 1.1rem;
    font-weight: 600;
    padding-left: 5px;
    color: #000;

}

.body-content-search-top{
    margin-top: 40PX;
    padding: 40px;
    background-color: #fff;

}
.new-products-header h1,
.body-content-search-top h1{
    font-size: 1.2rem;
    border-bottom: 1px solid #7979a8;
    border-left: 3px solid red;
    padding-left: 10px;
}
.search-top-item{
    padding: 16px;
    display: flex;
    text-align: center;
    width: auto;
}
.search-top-item:hover .item-image{
    transform: scale(1.05);
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, .2);
}
.search-top-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.search-top-item .item-image{
    padding: 16px;
    background-color: #eeeeee;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    width: 200px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    transform-origin: center;
}

.search-top-item .item-image > img{
    width: 166px;
    height: 144px;
    object-fit: cover;
}
.search-top-item .item-image p{
    margin-top: 10px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    
}
.image-top-absolute{
    top: 0;
    position: absolute;
}
.search-top-item > a{
    text-decoration: none;
    color: #000;
}
.search-top-list-next{
    z-index: 1;
    position: absolute;
    right: -20px;
    top: 45%;
    padding: 4px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .12);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    transform-origin: center;
}
.search-top-list:hover .search-top-list-next{
    transform: scale(1.2);
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, .2);
    color: red;
}
.body-content-new-products{
    margin-top: 40px;
}
.new-products-header{
    padding: 40px;
    background-color: #fff;
}
.new-products-list{

    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.new-products-list .new-products-item{
    position: relative;
    background-color:#ffffff;
    width: 200px;
    text-align: center;
    margin-top: 40px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    outline: 1px solid rgba(0,0,0,0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    will-change: transform; 
}
.new-products-item .item-box{
    
}

.new-products-item .item-box>img{
    width: 198px;
    height: 198pxw;
    object-fit: cover;
}
.item-box .text-decoretion{
    text-decoration: line-through;
    margin-top: 6px;
}
.item-box .add-color{
    color: #0000ff;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 6px;

}
.new-products-item .item-box .name-products{
    font-size: 0.8rem; 
    font-weight: 600;
    margin-top: 10px;

}

.logo-favourite>p{
    text-align: center;
    top: -1px;
    left: -9px;
    position: absolute;
    font-size: 0.8rem;
    color: #fff;
    background-color: #fa7516;
    padding: 4px;
    font-weight: 600;
    border-radius: 10px 0px 10px 0px;
}
.products-item-text-contact{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    height: 30px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    background-color: #fa7516;
    border-top: none;
    display: none;
}
.new-products-item:hover .products-item-text-contact{
    display: block;
}
.new-products-item:hover{
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.new-products-box-see-all{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-products-box-see-all p{
    text-align: center;
    line-height: 40px;
    width: 400px;
    height: 40px;
    font-size: 1.1rem;
    opacity: 0.7;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
.new-products-box-see-all p:hover{
    color: red;
    cursor: pointer;
    background-color: #fffdfd;
}
.add-display{
    display: none;
}
.off-display{
    display: flex;
}
.footer{
    margin-top: 60px;
    background-color: #fff;
}
.footer-contain{
    padding-top: 60px;

}
.footer-contain-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #e4e6eb;
}
.footer-contain-item a{
    text-decoration: none;
}
.footer-contain-item h1{
    font-size: 1.2rem;
}
.footer-contain-item li,
.footer-contain-item a li{
    margin-top: 10px;
    color: #000;
    font-size: 0.88rem;
    opacity: 0.8;
}
.footer-bottom{
    margin: 40px 0px;
    display: flex;
    justify-content: space-between;
}